---

import "../../styles/global.css";
---


      <div class="max-w-5xl mx-auto py-6 flex items-center justify-center gap-4">
        <a href="https://www.bandnameprotection.de/"> 
                <img class="h-8 w-auto" src="images/bandnameprotection_donotcopy.gif" alt="Bandname Protector">
        </a>
        <p class="text-center text-gray-600 m-0">
          &copy; {new Date().getFullYear()} Timeless Messengers.
        </p>
        <a href="https://www.musiker-in-deiner-stadt.at/kleinanzeigen.finden/gitarrist-gitarrenspieler-wien"> 
        <img class="h-8 w-auto" src="images/mids.gif" alt="Musiker in deiner Stadt">
        </a>
        
      </div>

