---

import "../../styles/global.css";
---


      <div class="max-w-5xl mx-auto py-6 flex items-center justify-center gap-4">
        <img class="h-8 w-auto" src="images/bandnameprotection_donotcopy.gif" alt="">
        <p class="text-center text-gray-600 m-0">
          &copy; {new Date().getFullYear()} Timeless Messengers.
        </p>
        <img class="h-8 w-auto" src="images/mids.gif" alt="">
      </div>

