---
const links = [
  { name: "About us", href: "/about" },
  { name: "Video/Audio", href: "/VideoAudio" },
  { name: "Gallery", href: "/Gallery" },
];

const currentPath = Astro.url.pathname;
---
<nav class="bg-black shadow">
  <div class="px-4 sm:px-6 lg:px-8">
    <div class="flex items-center h-16 relative">
      <a href="/" class="text-xl font-semibold text-gray-800">
        <img src="/images/fglogo_new.webp" alt="Timeless Messengers Logo" class="h-8 inline-block mr-2" />
      </a>

      <div class="absolute left-1/2 transform -translate-x-1/2">
        <ul class="hidden md:flex space-x-6">
          {links.map((link) => (
            <li>
              <a
                href={link.href}
                class={`px-3 py-2 text-sm font-medium duration-300 
                  ${currentPath === link.href 
                    ? 'text-transparent bg-gradient-to-r from-sky-400 to-violet-400 bg-clip-text' 
                    : 'text-white hover:text-transparent hover:bg-gradient-to-r hover:from-sky-400 hover:to-violet-400 hover:bg-clip-text'}
                `}
              >
                {link.name}
              </a>
            </li>
          ))}
        </ul>
      </div>

      <div class="md:hidden ml-auto">
        <button id="hamburger-btn" class="text-white focus:outline-none">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            fill="none"
            stroke="currentColor"
            viewBox="0 0 24 24"
            class="w-6 h-6"
          >
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="2"
              d="M4 6h16M4 12h16M4 18h16"
            />
          </svg>
        </button>
      </div>
    </div>

    <div id="mobile-menu" class="md:hidden hidden mt-4">
      <ul class="space-y-4 px-6">
        {links.map((link) => (
          <li>
            <a
              href={link.href}
              class={`px-3 py-2 text-sm font-medium duration-300 
                ${currentPath === link.href 
                  ? 'text-transparent bg-gradient-to-r from-sky-400 to-violet-400 bg-clip-text' 
                  : 'text-white hover:text-transparent hover:bg-gradient-to-r hover:from-sky-400 hover:to-violet-400 hover:bg-clip-text'}
              `}
            >
              {link.name}
            </a>
          </li>
        ))}
      </ul>
    </div>
  </div>
</nav>
