---

export interface Props {
  title: String
}
const {title} = Astro.props
import { ClientRouter } from "astro:transitions";
import Navbar from "../components/navbar.astro";
import CookieBlocker from "../components/CookieBlocker.jsx"; // Importa el bloqueador de cookies
import HomeFooter from "../components/HomeFooter.astro";
---

<html lang="en">
  <head>
    <base href="/" />
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/images/fglogo_new.webp" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
    <ClientRouter />
    <script src="/hamburger.js" type="module"></script>
  </head>
  
  <body class="bg-white text-gray-900">
    <Navbar client:load/>

    

    <main>
      <CookieBlocker client:load />
      <slot />
    </main>

    <footer>
      <HomeFooter />
    </footer>
  </body>
</html>
